@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px 160px;
}

.logo {
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 16px;
}